:root {
    --font-family: 'Roboto', sans-serif;
    --second-family: 'Raleway', sans-serif;
    --white: #fff;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --dairy: #fcfcfc;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --iris: #4d5ae5;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    font-family: var(--font-family);
    color: var(--slate);
    background-color: var(--white);
}

.btn {
    font-family: var(--font-family);
    color: var(--white);
    background-color: var(--iris);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
}

.btn:hover,
.btn:focus {
    background-color: var(--ocean);
}


/* --------------------------------------------------------header section------------------------------------------------------- */


.header {
    border-bottom: 1px solid var(--cornflower);
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar .logo1 {
    margin-right: 76px;
}

.logo1 {
    color: var(--iris);
    font-family: var(--second-family);
    font-weight: 700;
    line-height: 1.17;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.navbar .logo2 {
    color: var(--navy-blue);
}


.navbar-menu {
    display: flex;
    gap: 40px;
}

.nav-link {
    font-family: var(--font-family);
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.contact-menu {
    display: flex;
    gap: 40px;
}

.contact {
    font-style: normal;
}

.contact-tab-link {
    font-family: var(--font-family);
    color: var(--slate);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.navigation__link:hover,
.navigation__link:focus,
.contact-list__link:hover,
.contact-list__link:focus {
    color: var(--ocean);
}

/* --------------------------------------------------------hero section------------------------------------------------------- */


.hero {
    background-color: var(--navy-blue);
    padding: 188px 0;
}

.hero-title {
    color: var(--white);
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn {
    margin: 48px auto 0;
}

/* --------------------------------------------------------features section------------------------------------------------------- */


.features-title {
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.features-menu {
    display: flex;
    gap: 24px;
}

.features-text {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}

.features-tab {
    flex-shrink: 0;
    flex-basis: 360;
    position: relative;
}

/* --------------------------------------------------------team section------------------------------------------------------- */


.team {
    background-color: var(--cloud);
}

.team-title {
    color: var(--navy-blue);
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.team-menu {
    display: flex;
    gap: 24px;
}

.team-tab {
    background-color: var(--white);
    border-radius: 0 0 4px 4px;
    flex-shrink: 0;
    flex-basis: 360;
    position: relative;
}

.team-info {
    text-align: center;
    padding: 32px 0px;
}

.team-name {
    color: var(--navy-blue);
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-text {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* --------------------------------------------------------portfolio section------------------------------------------------------- */


.port-title {
    color: var(--navy-blue);
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.port-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.port-inf0 {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}

.port-cd-title {
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.port-cd-text {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.port-tab {
    flex-shrink: 0;
    flex-basis: 360;
    position: relative;
}

/* --------------------------------------------------------footer section------------------------------------------------------- */


.footer {
    background-color: var(--navy-blue);
    padding: 100px 0px;
}

.footer .logo1 {
    display: inline-block;
    margin-bottom: 16px;
}

.footer .logo2 {
    color: var(--cloud);
}

.footer-text {
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}

