/* --------------------------------------------------------body section------------------------------------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ol,
ul {
    margin: 0;
    list-style-type: none;
}

.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.btn {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    min-width: 169px;
    height: 56px;
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
}

.btn:hover,
.btn:focus {
    background-color: #404bbf;
}


/* --------------------------------------------------------header section------------------------------------------------------- */

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.logo1 {
    font-family: "raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar .logo2 {
    color: #2e2f42;
}

.navbar-menu {
    display: flex;
    gap: 40px;
}

.nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.contact {
    font-style: normal;
}

.contact-menu {
    display: flex;
    gap: 40px;
}

.contact-tab-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-link:hover,
.nav-link:focus,
.contact-tab-link:hover,
.contact-tab-link:focus {
    color: #404bbf;
}



/* --------------------------------------------------------hero section------------------------------------------------------- */

.hero {
    background-color: #2e2f42;
    padding: 188px 0;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn {
    margin: 48px auto 0;
}


/* --------------------------------------------------------features section------------------------------------------------------- */


.features-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.features-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}


.features-menu {
    display: flex;
    gap: 24px;
}


/* --------------------------------------------------------team section------------------------------------------------------- */

.team {
    background-color: #f4f4fd;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-menu {
    display: flex;
    gap: 24px;
}

.team-tab {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
}

.team-info {
    text-align: center;
    padding: 32px 0px;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* --------------------------------------------------------portfolio section------------------------------------------------------- */

.portfolio-title {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.port-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.port-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.port-cd-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.port-cd-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* --------------------------------------------------------footer section------------------------------------------------------- */


.footer {
    background-color: #2e2f42;
    padding: 100px 0px;
}

.footer .logo2 {
    color: #f4f4fd;
}

.footer .logo1 {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}

