:root {
    --font-family: 'Roboto', sans-serif;
    --second-family: 'Raleway', sans-serif;
    --white: #fff;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --dairy: #fcfcfc;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --iris: #4d5ae5;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    font-family: var(--font-family);
    color: var(--slate);
    background-color: var(--white);
}

.btn {
    font-family: var(--font-family);
    color: var(--white);
    background-color: var(--iris);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms var(--timing-function);
}

.btn:hover,
.btn:focus {
    background-color: var(--ocean);
}


body.modal-open {
    overflow: hidden;
}


.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}



/* --------------------------------------------------------header section------------------------------------------------------- */


.header {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar .logo {
    margin-right: 76px;
}

.logo {
    color: var(--iris);
    font-family: var(--second-family);
    font-weight: 700;
    line-height: 1.17;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.navbar .stu {
    color: var(--navy-blue);
}


.navbar-menu {
    display: flex;
    gap: 40px;
}

.navbar-tab {
    position: relative;
}

.nav-link {
    font-family: var(--font-family);
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms var(--timing-function);
}

.active {
    position: relative;
    color: var(--ocean);
}


.nav-link.active::after {
    background-color: var(--ocean);
    position: absolute;
    display: inline-block;
    content: '';
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    transform-origin: left;
    animation-name: active;
    animation-fill-mode: forwards;
    animation-duration: 800ms;
    animation-timing-function: var(--timing-function);
}

@keyframes active {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(100%);
    }
}

.contact-menu {
    display: flex;
    gap: 40px;
}

.contact {
    font-style: normal;
}

.contact-tab-link {
    font-family: var(--font-family);
    color: var(--slate);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms var(--timing-function);
}

.nav-link:hover,
.nav-link:focus,
.contact-tab-link:hover,
.contact-tab-link:focus {
    color: var(--ocean);
}

/* --------------------------------------------------------hero section------------------------------------------------------- */


.hero {
    background-color: var(--navy-blue);
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.hero-title {
    color: var(--white);
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn {
    margin: 48px auto 0;
}

/* --------------------------------------------------------features section------------------------------------------------------- */

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

.features-title {
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.features-menu {
    display: flex;
    gap: 24px;
}

.features-text {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}

.features-tab {
    flex-shrink: 0;
    flex-basis: 360;
    position: relative;
}

.features-icon {
    background-color: var(--cloud);
    height: 112px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    margin-bottom: 8px;
}


/* --------------------------------------------------------team section------------------------------------------------------- */


.team {
    background-color: var(--cloud);
}

.team-title {
    color: var(--navy-blue);
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.team-menu {
    display: flex;
    gap: 24px;
}

.team-tab {
    background-color: var(--white);
    border-radius: 0 0 4px 4px;
    flex-shrink: 0;
    flex-basis: 360;
    position: relative;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-info {
    text-align: center;
    padding: 32px 0px;
}

.team-name {
    color: var(--navy-blue);
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-text {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-scm-menu {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-scm-link {
    background-color: var(--iris);
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms var(--timing-function);
}

.team-scm-link:hover,
.team-scm-link:focus {
    background-color: var(--ocean);
}

.team-scm-icon {
    fill: var(--cloud);
}


/* --------------------------------------------------------portfolio section------------------------------------------------------- */


.port-title {
    color: var(--navy-blue);
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.port-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.port-tab {
   transition: box-shadow 250ms var(--timing-function);
}

.port-tab:hover,
.port-tab:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.port-flow {
    position: relative;
    overflow: hidden;
}

.port-flow-text {
    color: var(--cloud);
    background: var(--iris);
    width: 360px;
    height: 300px;
    padding: 40px 32px;
    top: 0;
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);
}

.port-tab:hover .port-flow-text {
    transform: translateY(0%);
}

.port-info {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}

.port-cd-title {
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.port-cd-text {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* --------------------------------------------------------footer section------------------------------------------------------- */


.footer {
    background-color: var(--navy-blue);
    padding: 100px 0px;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer .stu {
    color: var(--cloud);
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer-motto {
    margin-right: 120px;
}

.footer-text {
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}

.footer-scm-text, 
.sub-title {
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    margin-right: auto;
}


.footer-scm-menu {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-scm-link {
    background-color: var(--iris);
    margin: 0;
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms var(--timing-function);
}

.footer-scm-link:hover,
.footer-scm-link:focus {
    background-color: var(--green);
}

.footer-scm-icon {
    fill: var(--cloud);
}

/* --------------------------------------------------------footer form------------------------------------------------------- */

.sub-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 80px;
}


.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input {
    color: var(--white);
    background: transparent;
    padding-left: 16px;
    width: 264px;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    border: 1px solid var(--white);
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-input:focus {
    outline: 1px solid var(--white);
}

[placeholder] {
    color: var(--white);
}

.subscribe {
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-icon {
    margin-left: 16px;
}


/* --------------------------------------------------------modal------------------------------------------------------- */

.modal-bg .modal .is-hidden {
    transform: translate(-50%, -50%) scaleY(0);
}


.modal-bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--navy-blue-modal);
    position: fixed;
    z-index: 2;
    overflow: hidden;
    transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.modal-container {
    width: 408px;
    padding: 72px 24px 24px 24px;
    top: 50%;
    left: 50%;
    min-height: 584px;
    position: absolute;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: var(--dairy);
    transform: translate(-50%, -50%) scaleY(1);
    transition: transform 250ms var(--timing-function);
}

.modal-btn {
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    padding: 0;
    margin-left: auto;
    margin-bottom: 24px;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cornflower);
    transition: background-color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.modal-btn:hover,
.modal-btn:focus {
    fill: var(--white);
    border: none;
    background-color: var(--ocean);
}

.modal-close {
    transition: fill 250ms var(--timing-function);
}

.form-title {
    color: var(--navy-blue);
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
    }

.form-side {
    margin-bottom: 8px;
}

.form-label {
    color: var(--light-slate);
    font-weight: 400;
    line-height: 1.17;
    font-size: 12px;
    margin-bottom: 4px;
    letter-spacing: 0.04em;
    display: block;
}

.form-input-bind {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    padding: 11px 16px 11px 38px;
    outline: transparent;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--navy-blue-modal);
    transition: border-color 250ms var(--timing-function);
}

.form-input:focus {
    border-color: var(--iris);
}

.form-icon {
    fill: var(--navy-blue);
    top: 50%;
    left: 16px;
    position: absolute;
    transform: translateY(-50%);
    transition: fill 250ms var(--timing-function);
}


.form-input:focus+.form-icon {
    fill: var(--iris);
}

.form-textarea {
    margin-bottom: 16px;
}

.textarea {
    color: var(--navy-blue-modal);
    padding: 8px 16px;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    resize: none;
    border: 1px solid var(--navy-blue-modal);
}

.form-contract {
    position: relative;
    margin-bottom: 24px;
}

.form-check {
    color: var(--light-slate);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.form-checkbox:checked+.form-check .checkbox-uniq {
    background-color: var(--ocean);
    border: none;
    fill: var(--cloud);
}

.checkbox-uniq {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: 1px solid var(--navy-blue-modal);
    fill: transparent;
    transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.form-link {
    color: var(--iris);
    margin-left: 5px;
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}