* {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Inter Tight", sans-serif;
  font-weight: 600;
  letter-spacing: -1.5%;
}
h1 {
  font-size: 76px;
  line-height: 76px;
}

h2 {
  font-size: 64px;
  line-height: 64px;
}

h3 {
  font-size: 32px;
  line-height: 32px;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #fbfbfb;
}
/* footer css */
.footer {
  background-color: #5f264a; /* Footer için arka plan rengi */
  color: #ffffff; /* Metin rengi */
  padding: 20px 10px; /* İç boşluk */
  display: flex;
  justify-content: space-between; /* Sol ve sağ içerik arası boşluk */
  flex-wrap: wrap; /* Mobil için alt alta geçiş */
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer .social-links a {
  margin-right: 15px;
  text-decoration: none;
  color: #fff;
}

.footer-privacy {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ffffff33; /* Hafif çizgi */
  padding-top: 10px;
}

.footer-contact {
  margin-top: 10px;
  font-size: 14px;
}